<%- include('partials/header') %>  


<body style="background-color:#D5EEBB;">
 
<body class="imgbg" background="images/bgg.png"  >



<img class="mug med" src="turtle/mug.png" />
<img class="t3 med" src="turtle/t3.png" />

<div class="nav2 nav2profile">
  <ul>
    <li class="sidebutton gbutton"><button id="logout" onclick="window.location.href='logout'"  type="button">Logout</button></li>
</ul></div>
<section id="details" class="details">

  <div class="col-xl-9 order-xl-1">
       <div class="card profilecard  shadow">
         <div class="card-header bg-white border-0">
           <div class="row align-items-center">
             <div class="col-8">
               <h3 class="mb-0">My account</h3>
             </div>
           </div>
         </div>
         <div class="card-body bgcard">
           <form name="profile" method="POST" action="/profile">
             <div class="pl-lg-4">
               <div class="row">
                 <div class="col-lg-6">
                   <div class="form-group focused">
                     <label class="form-control-label" for="input-name">Name</label>
                     <input type="text" id="input-username" class="form-control form-control-alternative" name="name" placeholder="Name" value="<%= name %> ">
                   </div>
                 </div>
                 <div class="col-lg-6">
                   <div class="form-group">
                     <label class="form-control-label" for="input-email">Email address</label>
                     <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="example@domain.com" value="<%= email %> ">
                   </div>
                 </div>
               </div>
               
             </div>
             <hr class="my-4">
             

             <div class="pl-lg-4">
               <div class="row">
                
                 <div class="col-lg-4">
          <div class="form-group focused">
            <label class="form-control-label" for="input-city">State</label>
            <!--- India states -->
    <select id="country-state" name="country-state" value="<%state%>">
    <option  <%= state == "" ? 'selected' : ''%> value="">Select</option>
    <option <%= state == "AN" ? 'selected' : ''%> value="AN">Andaman and Nicobar Islands</option>
    <option <%= state == "AR" ? 'selected' : ''%> value="AR">Arunachal Pradesh</option>
    <option <%= state == "AS" ? 'selected' : ''%> value="AS">Assam</option>
    <option <%= state == "AP" ? 'selected' : ''%> value="AP">Andhra Pradesh</option>
    <option <%= state == "BR" ? 'selected' : ''%> value="BR">Bihar</option>
    <option <%= state == "CH" ? 'selected' : ''%> value="CH">Chandigarh</option>
    <option <%= state == "CT" ? 'selected' : ''%> value="CT">Chhattisgarh</option>
    <option <%= state == "DN" ? 'selected' : ''%> value="DN">Dadra and Nagar Haveli</option>
    <option <%= state == "DD" ? 'selected' : ''%> value="DD">Daman and Diu</option>
    <option <%= state == "DL" ? 'selected' : ''%> value="DL">Delhi</option>
    <option <%= state == "GA" ? 'selected' : ''%> value="GA">Goa</option>
    <option <%= state == "GJ" ? 'selected' : ''%> value="GJ">Gujarat</option>
    <option <%= state == "HR" ? 'selected' : ''%> value="HR">Haryana</option>
    <option <%= state == "HP" ? 'selected' : ''%> value="HP">Himachal Pradesh</option>
    <option <%= state == "JK" ? 'selected' : ''%> value="JK">Jammu and Kashmir</option>
    <option <%= state == "JH" ? 'selected' : ''%> value="JH">Jharkhand</option>
    <option <%= state == "KA" ? 'selected' : ''%> value="KA">Karnataka</option>
    <option <%= state == "KL" ? 'selected' : ''%> value="KL">Kerala</option>
    <option <%= state == "LA" ? 'selected' : ''%> value="LA">Ladakh</option>
    <option <%= state == "LD" ? 'selected' : ''%> value="LD">Lakshadweep</option>
    <option <%= state == "MP" ? 'selected' : ''%> value="MP">Madhya Pradesh</option>
    <option <%= state == "MH" ? 'selected' : ''%> value="MH">Maharashtra</option>
    <option <%= state == "MN" ? 'selected' : ''%> value="MN">Manipur</option>
    <option <%= state == "ML" ? 'selected' : ''%> value="ML">Meghalaya</option>
    <option <%= state == "MZ" ? 'selected' : ''%> value="MZ">Mizoram</option>
    <option <%= state == "NL" ? 'selected' : ''%> value="NL">Nagaland</option>
    <option <%= state == "OR" ? 'selected' : ''%> value="OR">Odisha</option>
    <option <%= state == "PY" ? 'selected' : ''%> value="PY">Puducherry</option>
    <option <%= state == "PB" ? 'selected' : ''%> value="PB">Punjab</option>
    <option <%= state == "RJ" ? 'selected' : ''%> value="RJ">Rajasthan</option>
    <option <%= state == "SK" ? 'selected' : ''%> value="SK">Sikkim</option>
    <option <%= state == "TN" ? 'selected' : ''%> value="TN">Tamil Nadu</option>
    <option <%= state == "TG" ? 'selected' : ''%> value="TG">Telangana</option>
    <option <%= state == "TR" ? 'selected' : ''%> value="TR">Tripura</option>
    <option <%= state == "UP" ? 'selected' : ''%> value="UP">Uttar Pradesh</option>
    <option <%= state == "UT" ? 'selected' : ''%> value="UT">Uttarakhand</option>
    <option <%= state == "WB" ? 'selected' : ''%> value="WB">West Bengal</option>
</select>
</div>
        </div>

               </div>
                <hr class="my-4">
               <div class="row">
                 <div class="col-lg-3">
                   <div class="form-group focused">
                     <label class="form-control-label" for="input-city">Height</label>
                     <input type="number" id="input-city" class="form-control form-control-alternative" name="height" placeholder="Height (cms)" value=<%=height%>>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group focused">
                     <label class="form-control-label" for="input-country">Weight</label>
                     <input type="number" id="input-country" class="form-control form-control-alternative" name="weight" placeholder="Weight (kg)" name="weight" value=<%= weight %>>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group focused">
                     <label class="form-control-label" for="input-age">Age</label>
                     <input type="number" id="input-age" class="form-control form-control-alternative" name="age"placeholder="Age(years)" value=<%=age%>>
                   </div>
                 </div>

                 <div class="col-lg-3 ">
          <div class="form-group focused">
            <label class="form-control-label" for="input-city">Gender</label>
            <!--- Gender -->
<select id="gender" name="gender">
    <option <%= gender == "" ? 'selected' : ''%> value="">Select</option>
    <option <%= gender == "M" ? 'selected' : ''%>value="M">Male</option>
    <option <%= gender == "F" ? 'selected' : ''%>value="F">Female</option>
    <option <%= gender == "O" ? 'selected' : ''%>value="O">Other</option>

</select>
</div>
        </div>


               </div>
                 <hr class="my-4">
                 
                <label class="form-control-label" for="input-city">Common Allergies</label>
               <div class="list-group list-group-horizontal-md">
                 <label class="list-group-item">
                   <input class="form-check-input me-1" name="allergens" type="checkbox" value="Gluten">
                   Gluten
                 </label>

                 <label class="list-group-item">
                   <input class="form-check-input me-1" name="allergens" type="checkbox" value="Eggs">
                  Eggs
                 </label>
                 <label class="list-group-item">
                   <input class="form-check-input me-1" name="allergens" type="checkbox" value="Fish">
                   Fish
                 </label>
                 <label class="list-group-item">
                   <input class="form-check-input me-1" name="allergens" type="checkbox" value="Nuts">
                  Nuts
                 </label>
                 <label class="list-group-item">
                   <input class="form-check-input me-1" name="allergens" type="checkbox" value="Dairy">
                  Dairy
                 </label>
                 <label class="list-group-item">
                   <input class="form-check-input me-1" name="allergens" type="checkbox" value="Soy">
                  Soy
                 </label>
                 <label class="list-group-item">
                   <input class="form-check-input me-1" name="allergens" type="checkbox" value="ShellFish">
                   Shell Fish
                 </label>
               </div>
               
             </div>
             <button class="submit-form-btn" type="submit"> Submit</button>
               </form>
               
         </div>
         

       </div>
     </div>
    
<section>
  <%- include('partials/footer') %>  